{% if is_granted('ROLE_ADMIN') %}

<p>
    <a class="btn btn-secondary" href="{{path('app_admin_movie_edit', {'slug': movie.slug})}}">Edit
        Movie</a>
    <a class="btn btn-danger" href="{{path('app_admin_movie_delete', {'slug': movie.slug})}}">Delete
        Movie</a>
</p>
{% endif %}