 @import "~bootstrap";

 /* body {
     background-color: lightgray;
 } */

 .card-img-top {
     max-height: 100%;
     max-width: 70%;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }

 .newest-movies {
     padding-top: 2%;
     padding-bottom: 2%;
 }

 .page-link {
     color: black;
 }

 .page-item.active .page-link {
     background-color: #0d78fd;
 }

 .top-custom-margin {
     margin-top: 2%;
 }

 .custom-block {
     display: block;
 }

 .card-body {
     height: 400px;
 }